<div class="container">
  <section class="card my-3" style="max-width:800px">
    <div class="card-header d-flex justify-content-between">
      <h2>Update Appointment</h2>
      
      <h2><a href="/account" style="text-decoration: none;">X</a></h2>
    </div>
    <form id="appointment-form" class="card-body d-flex flex-column align-items-center">
      <input type='hidden' name='apptId' id='id' value={{appointment.id}} />  
      <div class="d-flex mb-3" >
        <fieldset class="d-flex flex-column" >
        <label for="title" >Title:</label>
        <input name="title" type="text" id="title" value="{{appointment.title}}" required/>
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column">
        <label for="location" >Location:</label>
        <input name="location" type="text" id="location" value="{{appointment.location}}" required></input>
        </fieldset>
      </div>
      <div class="d-flex mb-3">
        <fieldset class="d-flex flex-column">
        <label for="Employee">Attending Employee:</label>
        <select name="Employee" id="employee" required>
            <option value="">Select Employee to Attend</option>
            {{#each employees as |employee|}}
            <option value={{employee.id}}>{{employee.firstName}} {{employee.lastName}}</option>
            
            {{/each}}
        </select>
        {{#if appointment.attending}}
        <label >Currently Attending Employee: {{appointment.attending.firstName}} {{appointment.attending.lastName}}</label>
        {{/if}}
        </fieldset>
      </div>
      <div>
        <button
          type="submit"
          id="update-btn"
      class="btn btn-primary my-3"
        >Update Appointment</button>
      </div>
    </form>
  </section>
</div>

<script src="/js/editAppt.js"></script>